body {
text-align: center;
background-size:cover; 
background-repeat: no-repeat;
}
h1 { 
	color: #4682B4;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 45px; 
	font-weight: normal; 
 	line-height: 48px;  
}

#win{
    top:50%;
    right: 50%;
 }

#yellow{
    color: #FFD700;
}

#text {
    position: absolute;
    left:520px;
    right:270px;
    top: 190px;
    width: 300px;
    padding: 10px;

}

#trumb {
    position: absolute;
    right:20px;
    top: 60px;
    width: 230px;
    padding: 10px;
    height: 210px;
}

#btn {
  position: absolute;
  top:520px;
  left: 550px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  outline: none;
  color:#4682B4;/*blue*/
  background-color:#FFD700;/*yellow*/  
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px #999; /*shadow color*/
  display: block;
}

#tar {
    position: absolute;
    left:20px;
    right:300px;
    top: 350px;
    width: 230px;
    padding: 10px;
    height: 220px;
}
#s1 {
position: absolute;
    right:20px;
    top: 350px;
    width: 230px;
    padding: 10px;
    height: 210px	
}

#s2 {

	position: absolute;
    left:20px;
    right:300px;
    top: 35px;
    width: 230px;
    padding: 10px;
    height: 220px;
}
#sound img {
    position: fixed ; 
    top: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
}