body{
  background-image:url("../img/bg12.png");
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.new_game
{
  display: block;
}
#sound img {
    position: fixed ;
    top: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
}
.first_Level
{
 position: absolute;
 bottom: 150px;
  right: 1020px;
  color: black;
font-family: 'Lobster', Georgia, Times, serif;
font-size: 50px;
}
.second_Level
{
 position: absolute;
 bottom: 150px;
  right: 720px;
  color: black;
font-family: 'Lobster', Georgia, Times, serif;
font-size: 50px;
}
.third_Level
{
 position: absolute;
 bottom: 150px;
  right: 430px;
  color: black;
font-family: 'Lobster', Georgia, Times, serif;
font-size: 50px;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  outline: none;
  color:#4682B4;/*blue*/
  background-color:#FFD700;/*yellow*/
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px #999; /*shadow color*/
  display: block;
}
.button:hover {background-color:#e6c300 }

.button:active {
  background-color:#4682B4	;
  color: #FFD700;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.menu {
    height: 200px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
}
/*choose character*/
.choose_character
{
  display: none;
}
#s {
  position: absolute;
  right: 800px;
  bottom: 130px;
  width: 200px;
  height: 400px;
}
#s:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
}

#m {
  position: absolute;
  right: 380px;
  bottom: 120px;
  width: 400px;
  height: 400px;
}

#m:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
}

.head {
  font-size: 50px;
  margin-left:400px;
  font-family: 'Lobster';
  color: white;
}

/*Map Level*/
.map{
  display: none;
}
#first_b {
  position: absolute;
  height: 45%;
  width: 20%;
  bottom: 10px;
  right: 900px;
}

#first_b:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
}

#second_b {
  position: absolute;
  height: 45%;
  width: 20%;
  bottom: 10px;
  right: 600px;
  filter: brightness(50%);
}

#third_b {
  position: absolute;
  height: 45%;
  width: 20%;
  bottom: 10px;
  right: 300px;
  filter: brightness(50%);
}

#ch {
  position: absolute;
  width: 260px;
  height: 300px;
  bottom: 230px;
}

/*Game Board*/
.img{
margin-top: 30px;
width: 60px;
height:60px;
position:fixed;
}
.game{
  display: none;
  background-color: white;
  position: center;
  margin-top: -20px;
  width: 900px;
  height: 630px;
  border-radius: 5%;
}
#header
{
  display: none;
}
.lives
{
  width:30px;
  height: 30px;
}
#live{
margin-left: 250px;
}
#timer_img
{
  background-image:url("../img/Timer_img.png");
    background-repeat: no-repeat;
   position: absolute;
    right:350px;
    width:50px;
    height:50px;
}
#timer 
{ 
 margin-left:650px;
font-family: 'Lobster', Georgia, Times, serif;
font-size: 20px;
}

/*badges css*/
.modal{
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 29px;
  line-height: 40px;
  text-align: center;
  border-style: solid;
  border-width: 8px;
  display:none;
  position: absolute;
  right: 250px;
  left: 350px;
  top:120;
  height:90%;
  overflow: auto;
}

#simpleModal{
color: #660033;
border-color: #660033;
background-color:#66cccc;
}

#simpleModal2{
color: #660000;
border-color: #660000;
background-color:#cccc66;
}

#simpleModal3{
color: #990033;
border-color: #990033;
background-color:#ffcc99;
}

#gameover{
color: #990033;
border-color: #990033;
background-color:#999999;
}
/*.closeButtons {
position: absolute;
left: 710px;
top:9px;
color: black ;
float : right;
font-size :55px;
cursor: pointer;
color: #660033;
}*/


#hitimg {
  height: 45%;
  width: 50%;
}
#flashimg {
  height: 25%;
  width: 35%;
}
}
/*****************/
