/*choose character*/
.choose_character
{
  display: block;
}
#s {
  position: absolute;
  right: 680px;
  bottom: 50px;
  width: 350px;
  height: 500px;
}
#s:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
}

#m {
  position: absolute;
  right: 250px;
  bottom: 50px;
  width: 500px;
  height: 500px;
}

#m:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
}

.head {
  font-size: 50px;
  margin-left:400px;
  font-family: Sans-serif;
  color: blue;
}

/*Map Level*/
.map{
  display: none;
}
#first_b {
  position: absolute;
  height: 45%;
  width: 20%;
  bottom: 10px;
  right: 900px;
}

#first_b:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
}

#second_b {
  position: absolute;
  height: 45%;
  width: 20%;
  bottom: 10px;
  right: 600px;
  filter: brightness(50%);
}

#third_b {
  position: absolute;
  height: 45%;
  width: 20%;
  bottom: 10px;
  right: 300px;
  filter: brightness(50%);
}

#ch {
  position: absolute;
  width: 260px;
  height: 300px;
  bottom: 230px;
}

/*Game Board*/
.img{
margin-top: 30px;
width: 50px;
height:50px;
position:fixed;
}
.game{
  display: none;
  background-color: yellow;
  width: 800px;
  height: 500px;
}
#header
{
  display: none;
}
